@model Employee_Management.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasicSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasicSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Allowance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Allowance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankDetail.BankDetailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayslipId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayslipId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
