@model IEnumerable<Employee_Management.Models.Payslip>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a> @* Styled Create button *@
</p>

<table class="table datatable"> @* Added datatable class *@
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayslipDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasicSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAllowances)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDeductions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetSalary)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Name) @* Display Employee Name *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Month)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayslipDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasicSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAllowances)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalDeductions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetSalary)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PayslipId" class="btn btn-sm btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PayslipId" class="btn btn-sm btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PayslipId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('.datatable').DataTable({ // Initialize DataTables
            paging: true,
            searching: true,
            ordering: true,
            info: true,
            pageLength: 10
        });
    });
</script>